<%= render "/shared/top", logging_in: false, signing_up: false %>

<h1>Edit Track</h1>

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<form action="<%= track_url(@track) %>" method="post" %>
  <input
    type="hidden"
    name="_method"
    value="patch">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <p>
    <label for="track_title">Title:</label>
    <input
      type="text"
      id="track_title"
      name="track[name]"
      value="<%= @track.title %>">
  </p>

  <p>
    <label for="album_name">Album:</label>
    <select id="album_name" name="track[album_id]">
      <option></option>
      <% @albums.each do |album| %>
        <option
          value="<%= album.id %>"
          <%= 'selected' if album.id == @track.album_id %>>
          <%= album.title %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <input
      type="radio"
      id="regular"
      name="track[track_type]"
      value="Regular"
      <%= 'checked' if @track.track_type == "Regular" %>>
    <label for="regular">Regular</label>

    <input
      type="radio"
      id="bonus"
      name="track[track_type]"
      value="Bonus"
      <%= 'checked' if @track.track_type == "Bonus" %>>
    <label for="bonus">Bonus</label>
  </p>

  <p>
    <label for="lyrics">Lyrics:</label>
    <textarea
      id="lyrics"
      name="track[lyrics]"
      placeholder="Type Lyrics"><%= @track.lyrics %></textarea>
  </p>

  <input type="submit" value="Submit">
</form>
