<% if current_user %>
  <strong><%= link_to current_user.email, user_url(current_user) %></strong>
  <br>
  <form action="/session" method="post">
    <input
      type="hidden"
      name="_method"
      value="delete">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <%= button_to "Log-out", session_url, method: :delete %>
  </form>
<% else %>
  <%= (button_to "Log-in", new_session_url, method: :get) unless logging_in %>
  <%= (button_to "Sign-up", new_user_url, method: :get) unless signing_up %>
<% end %>
<hr>
